# Copyright (c) 2022 Arm Limited (or its affiliates). All rights reserved.
# SPDX-License-Identifier: Apache-2.0

config SVC_CALL_USE_HVC
	bool "Set svc call method to hvc"
	default n

source "Kconfig.zephyr"
