# Kconfig.soc - ST Microelectronics STM32F4 MCU line
#
# Copyright (c) 2016 Linaro Limited.
#
# SPDX-License-Identifier: Apache-2.0
#

choice
prompt "STM32F4x MCU Selection"
depends on SOC_SERIES_STM32F4X

config SOC_STM32F401XE
	bool "STM32F401XE"

config SOC_STM32F407XG
	bool "STM32F407XG"

config SOC_STM32F411XE
	bool "STM32F411XE"

config SOC_STM32F429XI
	bool "STM32F429XI"

endchoice

config STM32_ARM_MPU_ENABLE
	bool "Enable MPU"
	depends on CPU_HAS_MPU
	select ARM_MPU
	default n
	help
	  Enable MPU

choice
prompt "STM32F4x Flash MPU Permissions"
depends on STM32_ARM_MPU_ENABLE
default STM32_MPU_FLASH_RO

config STM32_MPU_FLASH_RO
	bool "Read-Only"

config STM32_MPU_FLASH_P_RW_U_NA
	bool "Privileged Read Write, Unprivileged No Access"

config STM32_MPU_FLASH_P_RW_U_RO
	bool "Privileged Read Write, Unprivileged Read Only"

config STM32_MPU_FLASH_FULL_ACCESS
	bool "Privileged Read Write, Unprivileged Read Write"

config STM32_MPU_FLASH_P_RO_U_NA
	bool "Privileged Read Only, Unprivileged No Access"

endchoice

choice
prompt "Configure Bootloader Options"
depends on MPU_ENABLE

config BL_BOOTLOADER
	bool "Build the Bootloader"

config BL_APPLICATION
	bool "Build an Application"

endchoice
